html, body, #app {
  margin: 0;
  height: 100%;
  width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
  margin: 0 2px;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-clear {
  border: none;
  background: transparent;
  padding: 8px 15px;
}

.nav-link {
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}